
django==1.11.18
django-pandas>=0.5.2
django-choices>=1.6.1
django-filter>=2.0.0
djangorestframework>=3.9.0
django-rest-swagger>=2.2.0

coreapi>=2.3.3

numpy
pandas
matplotlib>=2.1.0
plotly>=2.2.1

psycopg2-binary
jinja2>=2.10
gunicorn>=19.9.0

ipykernel