{% import 'gluconamics/macros.html' as macros %}
{% extends "gluconamics/base.html" %}
{% block content %}

<div class="row">
    <div class="col-xs-6 col-md-4">
        <img src="{{ static('gluconamics/images/dbt.png')}}" width="250"/>
    </div>
    <div class="col-xs-6 col-md-6">
        <h2>The Challenge</h2>
        <h3>Painless Self monitoring of blood glucose.</h3><br/>
        <a href="https://healthhackathon17-berlin.sparkboard.com/project/5a11fd574f106f04003c702f">https://healthhackathon17-berlin.sparkboard.com/project/5a11fd574f106f04003c702f</a>
        <br/><br/><br/><br/>
        <a href="http://hacking-health.org/berlin/" target="_blank"><img src="{{ static('gluconamics/images/hacking_health.jpg')}}" height="200"></a>
    </div>
</div>


<div class="row">
    <h2>The Team</h2>
    <div class="col-xs-4 col-md-2">
        <span class="thumbnail"><img src="{{ static('gluconamics/images/arunakiry.jpg')}}" width="100"/><br/>
            <span class="label label-primary">Arunakiry Natarajan</span><br /><b>Medical Informatics</b><br/>&nbsp;
        </span>
    </div>

    <div class="col-xs-4 col-md-2">
        <span class="thumbnail"><img src="{{ static('gluconamics/images/camila.jpg')}}" width="100"/><br/>
        <span class="label label-primary">Camila Satie</span><br/><b>Data Scientist & Medical Doctor</b>
        </span>
    </div>
    <div class="col-xs-4 col-md-2">
        <span class="thumbnail"><img src="{{ static('gluconamics/images/kajetan.jpg')}}" width="100"/><br/>
        <span class="label label-primary">Kajetan Maliszeski</span><br/><b>Android Developer & Frontend</b>
        </span>
    </div>
    <div class="col-xs-4 col-md-2">
        <span class="thumbnail"><img src="{{ static('gluconamics/images/vaibhav.jpg')}}" width="100"/><br/>
        <span class="label label-primary">Vaibhav Bhatia</span><br/><b>Hardware Developer</b><br/>&nbsp;
        </span>
    </div>
    <div class="col-xs-4 col-md-2">
        <span class="thumbnail"><img src="{{ static('gluconamics/images/matthias.png')}}" width="100"/><br/>
        <span class="label label-primary">Matthias König</span><br /><b>Machine Learning & Backend Developer</b>
        </span>
    </div>
</div>

{% endblock %}