<!--
Definition of reusable macro function in templates
-->

<!-- T2DM Status -->
{% macro t2dm_status(status) %}
{% if status == "normal" %}
    <span class="label label-success">{{ status }}</span>
{% elif status == "igt" %}
    <span class="label label-warning">{{ status }}</span>
{% elif status == "t2dm" %}
    <span class="label label-danger">{{ status }}</span>
{% endif %}
{% endmacro %}

<!-- Status -->
{% macro status(status) %}
{% if status == "good" %}
    <span class="label label-success">{{ status }}</span>
{% elif status == "normal" %}
    <span class="label label-info">{{ status }}</span>
{% elif status == "bad" %}
    <span class="label label-danger">{{ status }}</span>
{% endif %}
{% endmacro %}

<!-- Direction -->
{% macro direction(value) %}
{% if value == "improving" %}
    <span class="label label-success">{{ value }}</span>
{% elif value == "constant" %}
    <span class="label label-info">{{ value }}</span>
{% elif value == "worsening" %}
    <span class="label label-danger">{{ value }}</span>
{% endif %}
{% endmacro %}

<!-- Intervention -->
{% macro intervention(value) %}
{% if value == "misc" %}
<i class="fa fa-fw fa-asterisk"></i>
{% elif value == "diet" %}
<i class="fa fa-fw fa-shopping-cart"></i>
{% elif value == "exercise" %}
<i class="fa fa-fw fa-bicycle"></i>
{% elif value == "medical" %}
<i class="fa fa-fw fa-stethoscope"></i>
{% endif %}
{{ value }}
{% endmacro %}

{% macro message(text) %}
<i class="fa fa-fw fa-quote-left"></i> {{ text }} <i class="fa fa-fw fa-quote-right"></i>
{% endmacro %}

{% macro user(user) %}
<span class="label label-primary"><i class="fa fa-fw fa-user"></i> {{ user }}</span>
{% endmacro %}
